.card {
  box-sizing: border-box;
  display: grid;
  max-height: 361px;
  max-width: 282px;
  grid-template-rows: 282px 1fr;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
}

.card__image {
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 282px;
  background-color: #000000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  min-width: 252px;
}

.card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  margin: 24px 15px 25px 21px;
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  color: #000000;
  max-width: 195px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.card__like-button {
  width: 21px;
  height: 19px;
  transition: 0.3s opacity ease-out;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  background-image: url(../images/heart.svg);
  background-size: cover;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like_active {
  background-image: url(../images/filled-heart.svg);
}



.card__likes {
  margin: 0px;
  padding: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}

.card__delete-button {
  background-image: url(../images/delete.svg);
  width: 18px;
  height: 19.3px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
  transition: ease-out 0.3s opacity;
  cursor: pointer;
}

.card__delete-button:hover {
  opacity: 0.6;
}

