.header {
  max-width: 880px;
  max-height: 119px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin: 0px auto 40px auto;
}

.header__logo {
  display: block;
  margin-top: 45px;
  margin-bottom: 41px;
}

@media screen and (max-width: 900px) {
  .header {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media screen and (max-width: 600px) {
  .header__logo {
    height: 24px;
    width: 126px;
    margin: 28px 167px 32px 27px;
  }

  .header {
    margin: 0;
    padding: 0;
  }
}
