.popup {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: #000;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 19px;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.5s linear;
}

.popup__form {
  position: relative;
}

.popup__avatar-container {
  background: #ffffff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 0px 36px;
  box-sizing: border-box;
  max-width: 430px;
  width: 100%;
  position: relative;
  /* height: 272px; */
}

.popup__delete-container {
  background: #ffffff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 0px 36px;
  box-sizing: border-box;
  max-width: 430px;
  width: 100%;
  position: relative;
  height: 181px;
}

.popup__edit-container {
  background: #ffffff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 0px 36px;
  box-sizing: border-box;
  max-width: 430px;
  width: 100%;
  position: relative;
}

.popup__create-container {
  background: #ffffff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 0px 36px;
  box-sizing: border-box;
  max-width: 430px;
  width: 100%;
  position: relative;
}

.popup__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  margin-top: 34px;
  margin-bottom: 54px;
  padding: 0;
}

.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: unset;
  border: none;
  height: 33px;
  width: 33px;
  background-image: url(../images/closeicon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.1s ease-out;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

.popup__input {
  display: block;
  width: 100%;
  border: none;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  margin-bottom: 0;
  padding-bottom: 13.5px;
}

.popup__input:focus:invalid {
  border-bottom: 1px solid #ff0000;
  outline: none;
}

.popup__error {
  visibility: hidden;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #ff0000;
}

.popup__error_visible {
  visibility: visible;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
}

.popup__save-button {
  display: block;
  margin-top: 48px;
  margin-bottom: 36.5px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 21.78px;
  width: 100%;
  height: 50.15px;
  border-radius: 2px;
  transition: opacity 0.1s ease-out;
  cursor: pointer;
}

.popup__save-button_disabled {
  display: block;
  margin-top: 48px;
  margin-bottom: 36.5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #ccc;
  font-size: 18px;
  line-height: 21.78px;
  width: 100%;
  height: 50.15px;
  border-radius: 2px;
  cursor: not-allowed;
  pointer-events: none;
}

.disabled {
    display: block;
    margin-top: 48px;
    margin-bottom: 36.5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #ccc;
    font-size: 18px;
    line-height: 21.78px;
    width: 100%;
    height: 50.15px;
    border-radius: 2px;
    cursor: not-allowed;
    pointer-events: none;
}

.popup__save-button:hover {
  opacity: 0.8;
}

.popup_open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.popup__preview-image {
  object-fit: contain;
  max-width: 540px;
  position: relative;
}

.popup__preview-name {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0;
  color: #ffffff;
}

.popup__close-button_preview {
  top: -40px;
  right: -40px;
  padding: 0%;
  margin: 0%;
}

.popup__create-container_preview {
  display: flex;
  flex-direction: column;
  background: transparent;
  max-width: 75vw;
  max-height: 75vh;
  padding: 0%;
  width: auto;
}

@media screen and (max-width: 660px) {
  .popup__content-close_preview {
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 320px) {
  .popup__close-button {
    top: -40px;
    right: 0px;
    width: 20px;
    height: 20px;
  }

  .popup__container {
    padding: 25px 22px;
  }

  .popup__title {
    font-size: 18px;
    margin: 0;
    padding-bottom: 45px;
  }

  .popup__input {
    padding-bottom: 9px;
  }

  .popup__save-button .popup__save-button_disabled {
    margin: 0;
    font-size: 14px;
  }
}
