.profile {
  display: grid;
  grid-template-areas: "avatar info add-button";
  margin: 0px auto 46px auto;
  max-width: 902.5px;
  grid-column-gap: 0px;
  grid-template-columns:
    minmax(auto, 120px)
    minmax(auto, 580px)
    minmax(auto, 150px);
  width: fit-content;
  align-items: center;
}

.profile__avatar {
  grid-area: avatar;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin: 0px 30px 0px 0px;
}

.profile__image {
  position: relative;
}

.profile__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../images/edit.svg");
  width: 120px;
  height: 120px;
  background-color: #c4c4c4;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  border-radius: 50%;
}

.profile__icon:hover {
  opacity: 0.8;
}

.profile__info {
  grid-area: info;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-areas:
    "name edit-button"
    "title title";
  grid-column-gap: 18px;
  width: fit-content;
}

.profile__info-name {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  max-width: 415px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: name;
}

.profile__info-title {
  margin: 16px 0px 0px 0px;
  padding: 0px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 415px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: title;
  text-align: left;
  align-self: start;
}

.profile__info-edit-button {
  background-color: transparent;
  outline: none;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  margin: 0px; /*reset*/
  padding: 0px; /*reset*/
  cursor: pointer;
  grid-area: edit-button;
  align-self: center;
  margin-top: 6px;
}

.profile__info-edit-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  grid-area: add-button;
  min-height: 50px;
  background-color: transparent;
  outline: none;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 660px) {
  .profile {
    grid-template-areas:
      "avatar"
      "info"
      "add-button";
    grid-template-columns: minmax(auto, 282px);
    grid-row-gap: 26px;
  }

  .profile__avatar {
    margin: 0px auto 0px auto; /* top right bottom left */
  }

  .profile__info {
    grid-column-gap: 10px;
    justify-content: center;
    margin: 0 auto;
  }

  .profile__info-name {
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    max-width: 282px;
    padding: 0px;
    margin: 0px;
  }

  .profile__info-title {
    margin: 14px 0px 0px 0px;
    padding: 0px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    max-width: 282px;
  }

  .profile__info-edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }

  .profile__add-button {
    margin-top: 10px;
  }
}
